* {
  box-sizing: border-box;
}

body {
  margin: 60px 0 0;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
  body {
    margin: 70px 0;
  }
}

:root {
  --main-color: hsl(234, 12%, 34%);
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  main {
    margin: 0 25px;
  }
}

@media (min-width: 992px) {
  main {
    width: 90%;
  }
}

.title span {
  display: inline-block;
  font-weight: 200;
  font-size: 33px;
}

@media (max-width: 991px) {
  .title span {
    font-size: 25px;
  }
}

.title h1 {
  font-size: 33px;
  font-weight: 600;
  color: var(--main-color);
  margin: 0 0 15px;
}

@media (max-width: 991px) {
  .title h1 {
    font-size: 25px;
  }
}

.title p {
  max-width: 540px;
  margin: 0 auto;
  color: var(--main-color);
  font-weight: 200;
}

.feats {
  display: flex;
}

@media (min-width: 992px) {
  .feats {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    transform: translateY(145px);
  }
}

@media (max-width: 991px) {
  .feats {
    flex-direction: column;
  }
}

.feat {
  height: 250px;
  background-color: white;
  padding: 25px;
  box-shadow: 0px 15px 15px hsl(212deg 45% 49% / 15%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 4px solid;
  position: relative;
}

@media (max-width: 991px) {
  .feat {
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .feat {
    flex-basis: 30%;
  }
}

.feat h2 {
  margin: 0;
  color: var(--main-color);
  font-weight: 600;
  font-size: 20px;
}

.feat p {
  margin: 10px 0 0;
  color: var(--main-color);
  font-weight: 200;
  font-size: 15px;
}

.feat img {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

/* Start The Border Color Of Every Feat */

.supervisor {
  border-top-color: hsl(180, 62%, 55%);
}

.team-builder {
  border-top-color: hsl(0, 78%, 62%);
}

@media (min-width: 992px) {
  .team-builder {
    transform: translateY(-50%);
  }
}

.calculator {
  border-top-color: hsl(212, 86%, 64%);
}

.karma {
  border-top-color: hsl(34, 97%, 64%);
}

@media (min-width: 992px) {
  .karma {
    transform: translateY(-50%);
  }
}

@media (max-width: 991px) {
  .supervisor {
    order: 1;
  }

  .team-builder {
    order: 2;
  }

  .calculator {
    order: 4;
  }

  .karma {
    order: 3;
  }
}
/* End The Border Color Of Every Feat */
